{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Available Rooms</h1>
                For Dates:
                <ul>
                  <li><strong>Arriving:</strong> {{.Data.start_date | stdDate}}</li>
                  <li><strong>Leaving:</strong> {{.Data.end_date | stdDate}}</li>
                </ul>
                <ul>
                  {{ range .Data.rooms }}
                    <li><a href="/choose-room/{{.ID}}">{{.RoomName}}</a></li>
                  {{ end}}
                </ul>

            </div>
        </div>
    </div>
{{end}}
